body{
    margin: 0;
    padding: 0;
    background: url(sources/20210507_143747.jpg) no-repeat;
    background-size: cover;
}
.main{
    width: 500px;
    background: rgba(0, 0, 0, 0.4);
    padding: 40px;
    text-align:center;
    margin: auto;
    margin-top: 5%;
    color: white;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.main-img{
    width: 500px;
    height: 500px;
    border-radius: 50%;
}
.main h1{
    font-size:40px;
    letter-spacing: 4px;
    font-weight: 100;
}
.main h5{
    font-size:20px;
    letter-spacing: 3px;
    font-weight: 100;
}
.main p{
    text-align:justify;
}
ul{
    padding: 0;
    margin: 0;
}
.main li{
    display: inline;
    margin: 6px;
    list-style: none; 
}
.main ul li img{
    width:50px;
    height: 50px;
    background-color: honeydew;
}
.main ul li img:hover{
    background-color: grey;
}
